<footer>
  <div class="footer-container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a href="/"><img src="/images/footer_logo.png" alt="ロゴ"></a>
      </div>
      <ul class="footer-list">
        <li><img src="/images/hitsuji_opposite.png" alt=""><a href="salon.html">サロンについて</a><img src="/images/hitsuji.png" alt=""></li>
        <li><img src="/images/hitsuji_opposite.png" alt=""><a href="stylist.html">スタイリスト</a><img src="/images/hitsuji.png" alt=""></li>
        <li><img src="/images/hitsuji_opposite.png" alt=""><a href="">メニュー</a><img src="/images/hitsuji.png" alt=""></li>
        <li><img src="/images/hitsuji_opposite.png" alt=""><a href="">アクセス</a><img src="/images/hitsuji.png" alt=""></li>
      </ul>
    </div>
    <p class="copyrights">Copyrights &copy; fuwafuwa Hair Salon All Rights Reserved.</p>
  </div>
</footer>
