<a href="/">
  <div class="cover-image">
    <div class="logo-bold"></div>
  </div>
</a>

<header>
  <div class="header-container">
    <ul class="header-list">
      <li><a href="salon.html"><i class="fa fa-cube" aria-hidden="true"></i>サロンについて</a></li>
      <li><a href="stylist.html"><i class="fa fa-meh-o" aria-hidden="true"></i>スタイリスト</a></li>
      <li><a href=""><i class="fa fa-scissors" aria-hidden="true"></i>メニュー</a></li>
      <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>アクセス</a></li>
    </ul>
  </div>
</header>
